{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
 
  "compact": true,
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-transform-object-assign",
        "array-includes",
        "lodash",
        [
          "transform-imports",
          {
            "lodash": {
              "transform": "lodash/${member}",
              "preventFullImport": true
            }
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs",
        "dynamic-import-node"
      ],
      "sourceMaps": "both"
    }
  }
}
